@media only screen and (max-width: 800px) {
  header { overflow: hidden; }

  nav {
    display: flex;
    flex-direction: column;
    height: 150px;
  }

  #toolBar {
    position: absolute;
  }

  #logos {
    width: 300px;
  }

  #searchArea {
    width: 200px;
  }
}