@media only screen and (max-width: 800px) {
  header { overflow: hidden; }

  nav {
    display: flex;
    flex-direction: column;
    height: 150px;
  }

  header {
    height: 75px;
    background: url(../../assets/images/pics/header2.png);
    background-size: 100px;
  }

  #toolBar { position: absolute; }

  #logos { width: 300px;}

  #searchInput0:focus { width: 173.2px; } 

  .container { padding: 0; }

  #projects { padding: 10px; }

  #noteIcon,
  #noteLogo { display: none;}

  header,
  nav,
  #modules {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }

  .extensionsContainer h1 { border-radius: 0; }
}